/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3, h2{
    margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  font-size: 16px;
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 150px;
}

.header__content ul {
  padding-right: 30px;
  margin: 0;
  height: 30px;
  overflow: hidden;
  list-style: none;
}
.header__content li {
  padding: 0 10px;
  float: left;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.header__navigationBar > ul > li > a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  height: 100%;
  text-decoration: none;
  text-shadow: 0px -50px #f55f8d;
  padding-top: 50px;
  margin-top: -50px;
  display: inline-block;
  /* float: left; */
}

.header__navigationBar > ul > li:hover > a {
  margin-top: 1px;
  transition: 0.25s cubic-bezier(0, 0, 0.5, 1.4);
}

.header__content li i {
  color: #070120;
  font-size: 10px;
  /* height: 30px; */
  /* float: left; */
  text-shadow: 0px -50px #f55f8d;
}

.header__navigationBar {
  display: flex;
  align-items: center;
  height: 100%;
}

.button {
  padding: 20px 40px;
  border-radius: 40px;
  color: white;
  border: none;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  cursor: pointer;
  background-size: 200%;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 15px;
}

.button:hover {
  background-position: right center;
}

/* CAROUSEL */

.carousel {
  width: 100%;
  height: 900px;
  padding-top: 200px;
  background-image: url(../img/pic2.png);
  background-size: 100%;
  display: block;
  /* z-index: 1; */
}

.carousel__content {
  width: 80%;
  /* height: 100px; */
  /* overflow: hidden; */
  /* background-color: #07012044; */
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.carousel__contentLeft {
  width: 60%;
  padding-top: 50px;
}

/* we are the best */
.sectionTitle {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
/* we develop... */
.carousel__contentLeft > p:last-of-type {
  font-size: 18px;
  margin-bottom: 15px;
}
/* list */
.carousel__contentLeft ul {
  margin-bottom: 30px;
}
.carousel__contentLeft li {
  list-style: none;
  line-height: 50px;
}

.carousel__contentLeft li p {
  display: inline;
  font-size: 20px;
  margin-left: 10px;
}

.carousel__contentLeft li i {
  color: white;
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 50%;
  padding: 5px;
  font-size: 25px;
  font-weight: 900;
}

/* Freelance Product */
.sectionContent {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

.carousel__contentRight {
  width: 40%;
}

.carousel__contentRight img {
  max-width: 570px;
}

/* SERVICE */

.service {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
}
.service__container {
  max-width: 1199px;
  margin: auto;
}
.service__containerTitle {
  text-align: center;
}

.service__containerCard {
  display: flex;
  gap: 30px;
  text-align: center;
  margin-top: 40px;
}
.service__containerCardContent {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}

.service__containerCardContent:hover {
  transform: translateY(-20px);
}

.service__containerCard img {
  width: 215px;
}

.service__containerCardContentTitle {
  padding: 20px 0;
}

/* INFO */
.info {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 85px;
  /* background-color: #262626; */
}

.info__container {
  display: flex;
  max-width: 1199px;
  margin: auto;

  justify-content: flex-end;
  padding-top: 115px;
  align-items: center;
  position: relative;
}

.info__containerLeft {
  width: 60%;
  position: absolute;
  left: -17%;
}

.info__containerLeft img {
  width: 100%;
  border-radius: 100px;
}
.info__containerRight {
  width: 50%;
}

.info__containerRight ul {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 30px;
}
.info__containerRight ul i {
  /* line-height: 30px; */
  border: solid 2px;
  border-radius: 50%;
  padding: 5px;
}
.info__containerRight ul li {
  padding: 5px 0;
}

.animate__animated.animate__fadeInLeftBig,
.animate__animated.animate__fadeInRightBig {
  --animate-duration: 2.5s;
}

/* NUMBER */

.number__container {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/bg14.png);
  background-position: right;
  /* background-size: 200%; */
}

.number__containerCard {
  text-align: center;
  width: 25%;
  padding: 70px 0;
}

.number__containerCardIcon i {
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  color: white;
  font-size: 50px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  margin-bottom: 20px;
}

.number__containerCardNumber span {
  font-size: 60px;
  font-weight: bold;
  color: #f55f8d;
  line-height: 1;
}
.number__containerCardContent {
  color: #262626;
  font-size: 18px;
}

.number__containerCardNumber span:nth-child(2) {
  padding-left: 10px;
}

.feature {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.feature .container {
  max-width: 1199px;
  margin: auto;
}

.feature__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.feature__left {
  width: 50%;
  /* background-color: #f8ae56; */
  /* height: 300px; */
}

.feature__banner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* position: relative; */
}

.feature__bannerContainer {
  padding-right: 60px;
}

#feature__bannerContainerMiddle {
  padding-left: 60px;
  padding-right: 0;
  /* margin-left: 30px; */
}

.feature__bannerContent {
  display: flex;
  gap: 20px;
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 20px;
}

.feature__bannerContent:hover * {
  color: white;
}

.feature__bannerContent::after {
  content: "";
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  border-radius: 20px;
}

.feature__bannerContent:hover::after {
  opacity: 1;
}

.feature__bannerContentIcon {
  text-align: center;
}

.feature__bannerContentIcon i {
  width: 80px;
  height: 80px;
  font-size: 80px;
  color: #f55f8d;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.feature__bannerContentText h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.feature__bannerContentText p {
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.feature__right {
  width: 50%;
  height: max-content;
  padding-top: 40px;
  animation-name: rotation;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  /* padding-left: 40px; */
  /* transform: rotate(9); */
}

.feature__right img {
  max-width: 110%;
}

/* PORTFOLIO */

.portfolio {
  padding-top: 115px;
}

.portfolio__container {
  max-width: 1199px;
  margin: auto;
}

.portfolio__title {
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
}

.portfolio__contentItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 20px; */
}

.portfolio__contentItem {
  border-radius: 20px;
  background-color: #262626;
  overflow: hidden;
  position: relative;
}

.portfolio__contentItem::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: -100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__contentItem:hover::before {
  left: 125%;
}

.portfolio__contentItemOverlay {
  width: 100%;
  height: 100%;
  background-color: #f8ae56;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  opacity: 0;
}
.portfolio__contentItem:hover .portfolio__contentItemOverlay {
  opacity: 1;
}

.portfolio__contentItemOverlayIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  right: 25px;
  padding: 10px;
  /* background-color: #f8ae56; */
  background-image: linear-gradient(to right, #f55f8d, #f8ae56);
  border-radius: 10px;
  transform: translate(25px, -25px);
  transition: all 0.5s;
  opacity: 0;
  z-index: 1;
}

.portfolio__contentItem:hover .portfolio__contentItemOverlayIcon {
  transform: translate(0px, 0px);
  opacity: 1;
}

.portfolio__contentItemOverlayIcon a {
  width: 100%;
  height: 100%;
  /* position: absolute; */
}

.portfolio__contentItemOverlayIcon i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.portfolio__contentItemOverlayContent {
  position: absolute;
  left: 25px;
  bottom: 30px;
  transform: translateY(100px);
  transition: all 0.5s;
}

.portfolio__contentItem:hover .portfolio__contentItemOverlayContent {
  transform: translateY(0);
}

.portfolio__contentItemOverlayContent h3 {
  color: #fff;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 0;
}

.portfolio__contentItemOverlayContent p {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
}

.portfolio__content .item1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}
.portfolio__content .item2 {
  grid-column: 5 / span 3;
  grid-row: 1 / span 4;
}
.portfolio__content .item3 {
  grid-column: 1 / span 2;
  grid-row: 5 / span 2;
}
.portfolio__content .item4 {
  grid-column: 3 / span 2;
  grid-row: 5 / span 2;
}
.portfolio__content .item5 {
  grid-column: 1 / span 4;
  grid-row: 7 / span 3;
}

.portfolio__content .item6 {
  grid-column: 5 / span 3;
  grid-row: 5 / span 5;
}

/* PLAN */
.plan {
  padding-top: 100px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
}

.plan__container {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}
.plan__content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.plan__contentCard {
  /* background-color: #f55f8d; */
  padding: 35px 60px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 3px solid transparent;
  border-radius: 8px;
  transition: all 0.5s;
  border-image: 100 round;
}
.plan__contentCard:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan__contentCard p {
  border-bottom: 1px solid #e1e1f0;
}

.plan__contentCard h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.plan__contentCard p span:first-child {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.plan__contentCard img {
  width: 125px;
  height: 125px;
}

.plan__contentCardList {
  text-align: left;
  padding: 20px 0;
}

.plan__contentCardList ul {
  list-style: none;
}

.plan__contentCardList ul li {
  padding: 5px 0;
}

.plan__contentCardList ul i {
  background-color: #feeff3;
  height: 26px;
  width: 26px;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  margin-right: 10px;
}

/* TESTIMONIAL */
.testimonial {
  padding-top: 115px;
  background-image: url(../img/bg17.png);
  background-size: contain;
  background-position: 20px;
  background-repeat: no-repeat;
}
.testimonial__container {
  text-align: center;
}

.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}

.testimonial-thumbs::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(
    to right,
    #fff 0,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonial-thumbs::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 2;
  background-image: linear-gradient(
    to left,
    #fff 0,
    rgba(255, 255, 255, 0) 100%
  );
}

.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 40px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.swiper-slide-active .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  background-color: #f55f8d;
  opacity: 1;
}

.swiper-slide-active .shape-bx::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
}

.swiper-slide-active .testimonial-pic::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #f55f8d;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border-radius: 50%;
  opacity: 1;
}

.swiper-slide-active .testimonial-pic::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #f55f8d;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  border-radius: 50%;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 20px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.testimonial-text strong {
  display: block;
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-text i {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 70px;
  color: #f55f8d;
}

.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  color: #f55f8d;
}

.testimonial-text span {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
  margin-bottom: 20px;
  display: block;
}

/* BLOG */

.blog{
    background-image: url(../img/bg16.png);
    background-position: top center;
}

.blog__container{
    text-align: center;
    padding-top: 115px;
    max-width: 1199px;
    margin: auto;
}

.blog__contentCard{
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(245, 95, 141, .1);
}

.blog__contentCardImg{
    position: relative;
}

.blog__contentCardImg img{
    border-radius: 8px;
}

.blog__contentCardImg p{
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    border-radius: 6px;
    display: inline-block;
    position: absolute;
    bottom: -40px;
    left: 15px;
    color: #fff;
    font-weight: 200;
    font-size: 12px;
}
.blog__contentCardContent{
    text-align: left;
    padding: 0 15px;
}

.blog__contentCardContent h3{
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 800;
    /* text-align: left; */
}

.blog__contentCardContent p{
    font-weight: 200;
    padding-bottom: 40px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    margin-bottom: 0;
}

.blog__contentCardFooter{
    display: flex;
    color: #f55f8d;
    font-size: 14px;
    font-weight: 200;
    padding: 15px 15px;
}

.blog__contentCardFooter div{
    margin-right: 20px;
}

.blog__contentCardFooter i{
    transform: rotate(180deg);
    transform: scaleX(-1);
}


/* Animation */
@keyframes rotation {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

